body {
    margin : 0px;
    padding : 0px;
    background-color : #12202E;
    color: #68571C;
}

.home {
    margin: 2%;
    margin-bottom: 10%;
    background-color: #bcb081;
    border-radius: 15px;
}
.content {
    padding: 4% 4%;
}
footer {
    display: flex;
    justify-content:center ;
    background-color: #bcb081;
}

footer h3{
    margin: 17px;
    font-size: 23px;
}